fastapi
uvicorn[standard]
sqlalchemy
asyncpg
alembic
pydantic[email]
python-jose[cryptography]
passlib[bcrypt]
python-multipart
python-dotenv
psycopg2-binary
greenlet
aiofiles
boto3
httpx
slowapi
better-profanity
filetype
resend
